html {
  height:100vh;
  overflow-y: overlay;
}

body {
  background: url('https://d1yn1kh78jj1rr.cloudfront.net/image/preview/BpuWMM1dWj6c4470x/storyblocks-realistic-shining-sun-with-lens-flare-blue-sky-with-clouds-background-vector-illustration_HO6OBq9km_SB_PM.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.main-page {
  background-color:#002B36;
  height: 100vh;
}
 
.container .row .col-md-6 { 
  height: 100vh;
}

ul {
  list-style-type:none;
  padding-left: 0;
}